// Contact links underscore

@mixin underscore($width, $height, $color, $bottom) {
  &::after {
    position: absolute;
    left: 0;
    bottom: $bottom;
    content: '';
    background: $color;
    width: $width;
    height: $height;
  }
}

// Fade-in animation

@mixin fade-in() {
  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }  
}

// Media-queries mixin

@mixin media-querie($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}
