.contact--wrapper {
  display: flex;
  justify-content: center;
  margin: 1% 0 0 0;
  font-size: 1.6rem;
}

.contact__twitter {
  margin-right: 3.2rem;
  position: relative;
  @include underscore(100%, 0.2rem, $font-color, .2rem);
}

.contact__mail {
  margin-left: 3.2rem;
  position: relative;
  @include underscore(100%, 0.2rem, $font-color, .2rem);
}
