.contact--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  font-size: 2.1rem;
}

.contact__twitter {
  position: relative;
  margin: 0 0 0 1.6rem;
  // border-bottom: 0.1rem solid $font-color;
  // @include underscore(20rem, 0.2rem, $font-color, .05rem);

  .contact__twitter--svg {
    position: absolute;
    left: -3rem;
    top: .5rem;
    fill: $font-color;
    width: 2.4rem;
    height: 2.4rem;
  }
}

.contact__mail {
  position: relative;
  margin: 1% 0 0 0;
  // border-bottom: 0.1rem solid $font-color;
  // @include underscore(27rem, 0.2rem, $font-color, .05rem);

  .contact__mail--svg {
    position: absolute;
    left: -3rem;
    top: .5rem;
    fill: $font-color;
    width: 2.4rem;
    height: 2.4rem;
  }
}
