footer {
  margin-top: 3.2rem;
  text-align: center;
  animation: fade-in 1s ease both 2s;

  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .footer__name {
    font-size: 1.2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }  
}
