body {
  background-color: $body;
  color: $font-color;
  font-family: $lato;
  line-height: 1.5;
}

.body--wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
